* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-bread {
    width: 80%;
    margin: auto;
}

/* title */
.service-title{
    margin: 15px auto;
    max-width: 50%;
}

@media screen and (max-width: 767px){
    .service-title h1{
        font-size: 35px;
    }
 }
@media screen and (max-width: 575px){
    .service-title h1{
        font-size: 30px;
    }
 }

/* step */
.step {
    width: 100%;
    margin: 75px auto;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    position: relative;
}

.step li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    position: relative;
    color: white;
    line-height: 40px;
    text-align: center;
    z-index: 1;
}
.step li i{
    width: 40px;
    margin: auto;
}
.step li span.step-text{
    color: black;
}

.step .step-line{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 10px;
    border-radius: 0;
    z-index: 0;
}

.step li.active {
    background-color: #018171;
    transform: scale(1.3)
}

.step li.active~li {
    background-color: #ccc;
}

.step li:nth-child(1).active ~ .step-line{
    background-image: linear-gradient(90deg,#ff0,#fa0 0%, #ccc 0%);
}
.step li:nth-child(2).active ~ .step-line{
    background-image: linear-gradient(90deg,#ff0,#fa0 25%, #ccc 25%);
}
.step li:nth-child(3).active ~ .step-line{
    background-image: linear-gradient(90deg,#ff0,#fa0 50%, #ccc 50%);
}
.step li:nth-child(4).active ~ .step-line{
    background-image: linear-gradient(90deg,#ff0,#fa0 75%, #ccc 75%);
}
.step li:nth-child(5).active ~ .step-line{
    background-image: linear-gradient(90deg,#ff0,#fa0 100%, #ccc 100%);
}



@media screen and (max-width: 991px){
    .step .step-line{
        height: 8px;
    }
    .step li span.step-text{
        font-size: 12px;
    }
 }   
@media screen and (max-width: 767px){
    .step .step-line{
        height: 5px;
    }
    .step li span.step-text{
        font-size: 10px;
    }
 }   
@media screen and (max-width: 575px){
    .step .step-line{
        height: 3px;
    }
    .step li span.step-text{
        font-size: 8px;
    }
 }   

 /* container-serve */
 .serve-1,
 .serve-2,
 .serve-3,
 .serve-4,
 .serve-5{
     width: 80%;
 }