
@import "../node_modules/bootstrap/scss/bootstrap";
 
button:focus {
    outline: none;
  }

  //search bar
  form{
    position: relative;
  }
  #myUL {
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 50%;
      display: none;
  }

  #myUL li a {
      border: 1px solid #ddd;
      margin-top: -1px;
      /* Prevent double borders */
      background-color: #f6f6f6;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block
  }

  #myUL li a:hover:not(.header) {
      background-color: #eee;
  }

  // footer
  .bg-black{
        background: rgba(0, 0, 0, 0.74);
      }
    .page-footer{
      .row{
        color: white;
        .col-md-3{
          a{
            cursor: pointer;
            text-decoration: none;
            color: #919191;
            transition:all 0.3s ease;
            &:hover{
              color: white;
            }
          }
        }
      }
    }

    .footer-copyright{
      color: white;
        a{
          text-decoration: none;
          color: #919191;
            &:hover{
              color: white;
            }
          }
    }

@import "../sass/customVariable";

  




